<section class="one">
  <div class="pllax-bk" data-0="transform: translateY(-250px);" data-end="transform: translateY(0px);"></div>
</section>

<div class="jumbotron paral light tiny">
  <h1 class="display-3">Some Sort Of Intro</h1>
  <p class="lead">Here is a short description 2</p>
</div>

<section class="two">
  <div class="pllax-bk" data-0="transform: translateY(-250px);" data-end="transform: translateY(0px);"></div>
  <h1>Charles Bridge</h1>
</section>

<div class="jumbotron paral dark tiny">
  <h1 class="display-3">Some Sort Of Intro</h1>
  <p class="lead">Here is a short description 2</p>
</div>

<section class="three">
    <div class="pllax-bk" data-0="transform: translateY(-250px);" data-end="transform: translateY(0px);"></div>
  </section>