<div class="jumbotron paral paralsec">
  <h1>People</h1>
</div>

<div class="jumbotron paral light tiny">

</div>

<div class="container-fluid">
<div class="row">
  <div class="col-xl-3 col-sm-6 col-12 img-panel-container"><div class="img-panel"></div></div>
  <div class="col-xl-3 col-sm-6 col-12 img-panel-container"><div class="img-panel"></div></div>
  <div class="col-xl-3 col-sm-6 col-12 img-panel-container"><div class="img-panel"></div></div>
  <div class="col-xl-3 col-sm-6 col-12 img-panel-container"><div class="img-panel"></div></div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12 img-panel-container"><div class="img-panel"></div></div>
    <div class="col-xl-3 col-sm-6 col-12 img-panel-container"><div class="img-panel"></div></div>
    <div class="col-xl-3 col-sm-6 col-12 img-panel-container"><div class="img-panel"></div></div>
    <div class="col-xl-3 col-sm-6 col-12 img-panel-container"><div class="img-panel"></div></div>
  </div>
</div>
